In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#NEWS
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
#NEWS
articles = soup.find('div', class_= "list_text")
news_title = articles.find('div', class_= 'content_title').text
news_p = articles.find('div', class_ = 'article_teaser_body').text
#
print(news_title)
print('---')
print(news_p)

How NASA's Mars Helicopter Will Reach the Red Planet's Surface
---
The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.

In [5]:
#IMAGE
mars_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
#IMAGE
featured_image_url = soup.find('a', class_ = 'fancybox')['data-fancybox-href']
#
print(f'The website is https://www.jpl.nasa.gov{featured_image_url}')

The website is https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18291_ip.jpg

In [7]:
#WEATHER TWEET
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
#WEATHER TWEET
mars_weather = soup.find('div', class_ = "css-901oao r-jwli3a r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
print(mars_weather)

None

In [9]:
#FACTS
facts_url = 'https://space-facts.com/mars/'
fact_tables = pd.read_html(facts_url)
#

In [10]:
#FACTS
comparison = fact_tables[1]
comparison.set_index('Mars - Earth Comparison')
html_comp = comparison.to_html()
html_comp.replace('\n', '')
print(html_comp)
comparison

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [11]:
#FACTS
overview = fact_tables[0]
ov = overview.rename(columns = {0 : "Profile", 1 : 'Statistic'})
ov.set_index('Profile')
html_ov = ov.to_html()
html_ov.replace('\n', '')
print(html_ov)
ov

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Profile</th>
      <th>Statistic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

                Profile                      Statistic
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
#HEMISPHERE
Moons = ['Cerberus', 'Schiaparelli', 'Syrtis Major', 'Valles Marineris']
#del(hemisphere_image_urls)
hemisphere_image_urls = []
for i in Moons:
    hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(hemis_url)
    browser.click_link_by_partial_text(i)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    i_image_url = soup.find('img', class_ = 'wide-image')['src']
    i_image = (f'https://astrogeology.usgs.gov/{i_image_url}')
    hemisphere_image_urls.append({'Moon' : f'{i} Hemisphere', 'img_url' : i_image})
    print(i_image)
df = pd.DataFrame(hemisphere_image_urls)
df